/* INICIO ESTILOS PARA LA SECCION SOBRE MI */

.little {
  width: 60%;
  font-size: 2.5em;
  font-family: "Anton", sans-serif;
  font-weight: bold;
  margin-left: 10%;
  margin-top: 10%;
}

.more_little {
  width: 60%;
  font-size: 1.5em;
  font-family: "Anton", sans-serif;
  margin-left: 10%;
  margin-top: 0.5%;
}

.container__2 {
  max-width: 900px;
  height: 450px;
  width: 100%;
  margin-left: 10%;
  margin-top: 5%;
}

h3 {
  height: 50px;
  font-size: 1.5em;
  font-weight: bolder;
  background-color: #ffffff;
  cursor: pointer;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
}

.parrafo {
  height: 300px;
  font-size: 2.5rem;
  color: white;
  background-color: #212529;
  padding: 3em;
}

h4 {
  height: 50px;
  font-size: 1.5em;
  font-weight: bolder;
  background-color: #ffffff;
  cursor: pointer;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
}
