/* INICIO ESTILOS PARA LA SECCION PRINCIPAL */
.square {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 800px;
  border: solid 0px black;
}

.frase {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 30%;
  margin-top: 13%;
  margin-left: 2%;
}

.frase1 {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 35%;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.frase2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 6 0%;
  font-size: 6em;
  text-align: center;
  font-weight: bold;
}

.imagen_profile {
  display: flex;
  margin-top: -25%;
  margin-left: 65%;
  width: 400px;
  height: 400px;
  box-shadow: 2px 4px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

.imagen_profile:hover {
  transition-timing-function: ease-out;
  transition-duration: 100ms;
  transform: scale(1.09);
  transition: all 0.5s;
}

.redes_sociales {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40%;
  height: 190px;
  margin-left: 12%;
  margin-top: -18%;
}

.imagenes_redes {
  display: flex;
  transition: all 1.5s;
  width: 70px;
}

.imagenes_redes:hover {
  border: 5px solid rgb(172, 172, 236);
  border-radius: 15px;
  width: 80px;
}

.boton {
  display: flex;
  transition: all 1.5s;
  background-color: black;
  font-size: 20px;
  text-transform: uppercase;
  box-shadow: 0px 3px 11px rgb(105, 98, 98);
  border-radius: 8%;
  margin-left: 35%;
  margin-top: 5%;
  width: 170px;
  height: 70px;
  justify-content: center;
}

.boton:hover {
  background-color: rgb(172, 172, 236);
  margin-left: 32%;
  width: 210px;
  height: 80px;
}

.boton_descarga {
  transition: all 1.5s;
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.boton_descarga:hover {
  font-size: 25px;
}
